<h1>Give me the folder path!</h1>
<form action='/result'>  
  <div class="form-group">
    <label for="path">Folder:</label>
    <input id="path" name="path" class="form-control" type="text">
  </div>
  
  <button type="submit" class="btn">Go!</button>
</form>